*{
margin:0; padding:0; box-sizing: border-box;
} 

body {
    /* config a imagem de fundo */

    background-image: url(img/Paisagem.jpeg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    


    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;

}

.Conteiner {
    width: 100%; 
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%; 
    margin-bottom: 5px;
    font-family: sans-serif;
}

ul {
    list-style: none;
    width: 100%;
}

li {
    background-color: black;
    color: white;
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 100%; /* Faz a faixa preta atravessar a tela */
    font-family: sans-serif;
}

.tituloFinal {
    background-color: black;
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-top: 5px;
}



.Estilo-link {
    display: block;     
    text-align: center;  
    color: #ff00ff;     
    margin-top: 15px;    
    font-size: 14px;
    text-decoration: none;
}

.Estilo-Link:hover {
    text-decoration: underline;
    color: white;
}